body{
    background-color: #FFFFFF;
    text-align: center;
}

h3{
    z-index: 20;
   position: absolute;

}


#id2{
color: hotpink;

}


/*
.oddimg{
    z-index: 9;
}*/

p {
    z-index: 20;
    position: absolute;
font-size: 10pt;
color: rgb(16, 13, 61);
}

.class1, .class2, .class3, .class4, .class5, .class6{
  border: 1px solid grey;
    padding: 10px;
    flex: 1;
    position: relative;

}


.classNEW{
    border: 1px solid grey;
    padding: 10px;
    text-align: left;
    flex: 1;
    color: aqua;
    position: relative;
}


#id2NEW{
    text-align: right;
    color:blueviolet;

}


input{
background: rgba(255, 224, 217, 0.3);
    border: 1px solid #e12b27;
    text-align: center;
}



main{
    height: 95%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

img{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    top: 0;
    z-index: 10;
    left: 0;
}

.flex-container{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}